@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #e2f4ec;
  font-family: "Caveat Brush", serif;
  color: #0c1c3b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 20px;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
  text-align: center;
  max-width: 100%;
  width: 800px;
  clip-path: polygon(
    5% 0%, 95% 0%, 100% 10%, 95% 20%, 
    100% 30%, 90% 40%, 100% 50%, 95% 60%, 
    100% 70%, 95% 80%, 100% 90%, 95% 100%, 
    5% 100%, 0% 90%, 5% 80%, 0% 70%, 
    10% 60%, 0% 50%, 5% 40%, 0% 30%, 
    10% 20%, 0% 10%
  );
}

h3 {
  margin: 0;
  opacity: 0.5;
  letter-spacing: 2px;
}

.joke {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 600px;
}

.btn {
  background-color: #0c1c3b;
  font-family: "Caveat Brush", serif;
  color: #fff;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}